<h1>Display your Pirate here</h1>
  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Grade: <%= @pirate.weight %></h4>
  <h4>Grade: <%= @pirate.height %></h4>


<h2>Display your first ship here</h2>


<h2>Display your second ship here</h2>
